body
{
	display:flex;
	flex-direction:row;
	letter-spacing:.2px;
	color:#333;
	margin:0;
	font-family:'Fira Sans',sans-serif;
	margin:0;
	position:relative;
	overflow-wrap:break-word;
	overflow-wrap:anywhere;
	-webkit-font-feature-settings:kern,liga;
	-moz-font-feature-settings:kern,liga;
	font-feature-settings:kern,liga
}

a
{
	color:#356da4
}

nav li
{
	margin: 0;
    padding: 0.2em;
}

main li
{
	margin: 0;
    padding: 0.5em;
}

main li:target {
    background-color: #f0f0f0;
}

p
{
	font-family:'Source Serif 4',serif;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h1,h2,h3,h4
{
	margin:20px 0 15px;
	padding-bottom:6px
}

h2,.top-doc h3,.top-doc h4
{
	border-bottom:1px solid
}

h2,h3,h4
{
	border-bottom-color:#DDD
}

.docblock h1,.docblock h2,.docblock h3,.docblock h4,.docblock h5,.docblock h6
{
	border-bottom-color:#ddd
}

h1,h2,h3,h4,h5,h6
{
	font-weight:500
}

h2
{
	font-size:1.375rem
}

nav
{
	box-sizing:border-box;
	background-color:#F5F5F5;
	padding:1em;
	font-size:.875rem;
	width:280px;
	min-width:200px;
	overflow-y:auto;
	position:sticky;
	height:100%;
	top:0;
	left:0
}

main
{
	box-sizing:border-box;
	padding:1em;
	max-width:960px;
	overflow-y:auto;
	flex-grow:1;
	height:100%;
	top:0
}

code,
 pre {
     font-family: "Source Code Pro", monospace;
 }

 code,
  code {
     border-radius: 3px;
     padding: 0 0.125em;
 }

pre code,
pre code {
     padding: 0;
 }


ul
{
	list-style-type:none;
	padding:0;
	margin:0
}

*
{
	scrollbar-width:initial
}

.sidebar
{
	scrollbar-width:thin
}

::-webkit-scrollbar
{
	width:12px
}

.sidebar::-webkit-scrollbar
{
	width:8px
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow:inset 0
}

a
{
	text-decoration:none;
	background:transparent
}
