body {
	display: flex;
	flex-direction: row;
	letter-spacing: .2px;
	color: #333;
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	position: relative;
	overflow-wrap: break-word;
	overflow-wrap: anywhere;
	-webkit-font-feature-settings: kern, liga;
	-moz-font-feature-settings: kern, liga;
	font-feature-settings: kern, liga
}

nav {
	box-sizing: border-box;
	background-color: #F0F0F0;
	padding-top: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-size: .875rem;
	width: 260px;
	min-width: 200px;
	overflow-y: auto;
	position: sticky;
	height: 100%;
	top: 0;
	left: 0
}

main {
	box-sizing: border-box;
	padding: 1em;
	max-width: 960px;
	overflow-y: auto;
	flex-grow: 1;
	height: 100%;
	top: 0
}

img.logo {
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #356da4;
	text-decoration: none;
	background: transparent
}

a:hover,
a:active,
a:focus {
	text-decoration: underline;
}

nav li {
	margin: 0;
	padding: 0.2em;
}

main li {
	margin: 0;
	margin-left: -0.5em;
	padding: 0.5em;
}

main li:target {
	background-color: #f0f0f0;
}

p {
	font: 1rem/1.5 "Source Serif 4",NanumBarunGothic,serif;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	color: #000;
}

h1,
h2,
h3,
h4 {
	margin: 20px 0 15px;
	padding-bottom: 6px
}

h2,
.top-doc h3,
.top-doc h4 {
	border-bottom: 1px solid
}

h2,
h3,
h4 {
	border-bottom-color: #DDD
}

.docblock h1,
.docblock h2,
.docblock h3,
.docblock h4,
.docblock h5,
.docblock h6 {
	border-bottom-color: #ddd
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500
}

h2 {
	font-size: 1.375rem
}



code,
pre {
	font-family: "Source Code Pro", monospace;
}

pre {
	font-size: 1em;
	background-color: #F5F5F5;
	padding: 14px;
}

p code {
	background-color: #F5F5F5;
	border-radius: 3px;
	padding: 0 0.125em;
}

pre code {
	padding: 0;
}


ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

* {
	scrollbar-width: initial
}

.sidebar {
	scrollbar-width: thin
}

::-webkit-scrollbar {
	width: 12px
}

.sidebar::-webkit-scrollbar {
	width: 8px
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0
}




.item-short-table {
	display: table;
}

.item-short-table>.row {
	display: table-row;
}

.item-short-table>.row>.cell-name,
.item-short-table>.row>.cell-doc {
	display: table-cell;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.cell-name {
	padding-right: 1.25rem;
	overflow-wrap: initial;
}

.cell-doc {
	font-family: 'Source Serif 4', serif;
	overflow-wrap: anywhere;
}

.signature {
	font-family: "Source Code Pro", monospace;
	font-size: 1rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
}

.item-doc {
	margin-left: 24px;
}

.identifier-function {
	color: #795E26;
}

.identifier-type {
	color: #267f99;
}

.identifier-constant {
	color: #0070C1;
}

.identifier-variable {
	color: #001080;
}

.keyword {
	color: #0000ff;
}

.keyword-type {
	color: #267f99;
}

.keyword-control {
	color: #AF00DB;
}

@media only screen and (max-width: 768px) {
	nav {
		display: none
	}
}

@media print {
	nav {
		display: none
	}
}
