name: Documentation

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  docs:
    name: Publish documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Tree-sitter (with runtime)
        run: |
          npm install -g tree-sitter-cli
          git clone https://github.com/tree-sitter/tree-sitter
          cd tree-sitter
          make
          sudo make install
          sudo ldconfig

      - name: Build documentation
        env:
          ALUMINADOC_BASE_PATH: https://docs.alumina-lang.net
        run: make -j8 docs

      - name: Test examples from documentation
        env:
          ALUMINADOC_BASE_PATH: https://docs.alumina-lang.net
        run: make -j8 doctest

      - name: Generate the sitemap
        id: sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://docs.alumina-lang.net
          path-to-root: ./build/docs

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/docs
          cname: docs.alumina-lang.net
